.shaded {
  background-color: #fdfdfd;
  box-shadow: 3px 3px #e0e0e0;
}

.background {
  background-color:#f4f4f4;
} 

.navlink {
  text-decoration: none !important;
}

.navlink:hover {
  color: #fdfdfd;
  background-color: #373b3f;
}

.nounderline {
  text-decoration: none !important;
  color: #6c757d
}

.nounderline:hover {
  text-decoration: none !important;
  color: #373b3f;
}

img {
  max-width: 80%;
  height: auto;
  width: auto;
  margin: auto;
  display: block;
}

.page-item > a
{
    background-color: #fdfdfd;
    color: #343a40;
}

.pagination > .active-pg > a
{
    color: #fdfdfd;
    background-color: #6d7277;
    border-color: #6d7277;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #373b3f;
    background-color: #f4f4f4;
}

.pagination > .active-pg > a:hover
{
    background-color: #343a40;
    color: #fdfdfd;
}