<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}rainhard{% endblock %}</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
  </head>

  <body>
    <div class="container">

      {% block body %}
      {% endblock %}
      
      <br>
      <footer class="text-muted text-center text-small">
        <p>
          Rainhard dev | Logged in as {{ user }} |
          <a href="/accounts/logout">Logout</a> |
          <a href="/accounts/login">Login</a>
        </p>
      </footer>

    </div>
  </body>

</html>