<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ blog_name }}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/bootstrap.min.css' %}">
  </head>

  <body class="background">
    
    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <span class="nav-link disabled">Logged in as {{ user }}</span>
            </li>
          </ul>
          <a class="btn btn-outline-light mx-2" type="submit" href="/author/logout">Logout</a>
          {% if post %}
            <form action="/author/delete/{{post.id}}" method="post">
              {% csrf_token %}
              <button class="btn btn-outline-danger mx-2" type="submit"
                      onclick="return confirm('Delete Post?')">
                Delete
              </button>
            </form>
            <a class="btn btn-outline-info mx-2" type="submit" href="/author/update/{{post.id}}">Update</a>
          {% endif %}
          <a class="btn btn-outline-info mx-2" type="submit" href="/author/create">Create Post</a>
        </nav>
    {% endif %}
        
    <div class="container">

      {% block body %}
      {% endblock %}

      <br>
      <footer class="text-muted text-center text-small">
      {% if debug %}
        <p>
          Rainhard debug | Logged in as {{ user }} |
          <a href="/author/logout">Logout</a> |
          <a href="/author/login">Login</a>
        </p>
      {% else %}
        <p>Built with Rainhard</p>
      {% endif %}
      </footer>
    </div>
  </body>

</html>