{% extends "blog/base.html" %}
{% block title %}{{ post.title }} | rainhard{% endblock %}

{% block body %}

<h2>
  <a href="{% url 'blog:post' post.id %}">{{ post.title }}</a>
</h2>
<p>Updated: {{ post.updated }}</p>
<p>{{ post.text }}</p>

<hr>
{% for tag in post.tags %}
  <div>{{ tag }} </div>
{% endfor %}

<hr>
{% if post.prev_post %}
<a href="{% url 'blog:post' post.prev_post.id %}">Previous Post</a>
{% endif %}
{% if post.next_post %}
<a href="{% url 'blog:post' post.next_post.id %}">Next Post</a>
{% endif %}

{% endblock %}