{% extends "blog/base.html" %}
{% block title %}{{ blog_name }} | {{ post.title }}{% endblock %}

{% block body %}
{% include "blog/base_header.html" %}

{% if post %}
<div class="row py-3 shaded">
  <div class="col-sm-12">
    <a href="{% url 'blog:post' post.id %}" class="nounderline text-dark display-4">{{ post.title }}</a>
    <p class="text-muted py-1">Updated: {{ post.updated }}</p>
    <p>{{ post.cleaned_html | safe }}</p>  
  </div>
</div>

<br>

<div class="row py-3 shaded">
  <div class="col-sm-12">

    {% if post.tags %}
      <span class="text-muted">Tags:</span>
      {% for tag in post.tags %}
        <a href="{% url 'blog:tag_posts' tag.text %}" class="nounderline">
          {{ tag }}
        </a> 
      {% endfor %}
    {% else %}
      <span class="text-muted">No Tags</span>
    {% endif %}

  </div>
</div>

<br>

<div class="row py-3 shaded">
  <div class="col-sm-4">
    {% if post.next_post %}
    <a href="{% url 'blog:post' post.next_post.id %}" class="nounderline">
      ← {{ post.next_post.title}}
    </a>
    {% endif %}
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-right">
    {% if post.prev_post %}
    <a href="{% url 'blog:post' post.prev_post.id %}" class="nounderline">
      {{ post.prev_post.title}} →
    </a>
    {% endif %}
  </div>
</div>

<br>
{% endif %}
{% endblock %}