{% extends "blog/base.html" %}
{% block title %}{{ post.title }} | rainhard{% endblock %}

{% block body %}
{% include "blog/base_header.html" %}
<h2>
  <a href="{% url 'blog:post' post.id %}">{{ post.title }}</a>
</h2>
<p>Updated: {{ post.updated }}</p>
<p>{{ post.cleaned_html | safe }}</p>

<p class="text-muted">
  Tags:
  {% for tag in post.tags %}
  {{ tag }} 
  {% endfor %}
</p>

<hr>
<div class="row">
  <div class="col-sm-2">
    {% if post.next_post %}
    <a href="{% url 'blog:post' post.next_post.id %}">← {{ post.next_post.title}}</a>
    {% endif %}
  </div>
  <div class="col-sm-8"></div>
  <div class="col-sm-2 text-right">
    {% if post.prev_post %}
    <a href="{% url 'blog:post' post.prev_post.id %}">{{ post.prev_post.title}} →</a>
    {% endif %}
  </div>
</div>
<hr>

{% endblock %}